<! --
templateType: page,
isAvailableForNewContent: true,
label: base
-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Page Title</title>
  <meta name="description" content="Page description">

  <link rel="stylesheet" href="./assets/css/style.css">
  <script src="./assets/js/main.js" defer></script>
</head>
<body>

  <header></header>

  <main>
    <h1>Hello World</h1>
  </main>

  <footer></footer>

</body>
</html>